<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="white_box">
    <% for (var i = 0; i < 1; i++) {%>
      <div class="work_zero_box">
        <div class="work_zero">
          <li> <%= resultMenu[0] %></li>
          <h4>ゲーム概要</h4>
          <div class="work_zero_summary">
            <div class="work_zero_summary_text">
              <p>
                コンセプトは、亀裂を利用したマップ攻略です。<br>
                このゲームは、亀裂の道を造り出してマップを攻略するゲームです。<br>
                マップ内には、崩壊率が存在し、打ち込んだ亀裂は徐々に広がっていき、マップ内の崩壊に繋がります。<br>
                崩壊率が 0% → 100% になるとGAMEOVERとなる。<br>
              </p>
            </div>
          </div>
          <h4>面白いポイント</h4>
          <div class="work_zero_amusing">
            <div class="work_zero_amusing_text">
              <p>
                繊細なステージを壊さないと乗り越えられないスリル<br>
                　　　　　　　　　　　　＆<br>
                ステージを崩壊させないように慎重に進まないといけない<br> 
              </p>
            </div>
          </div>
        </div>
        <img src="image/Unbreak.png">
      </div>

      <div class="work_first_box">
        <div class="work_first">
          <li> <%= resultMenu[1] %></li>
          <h4>ゲーム概要</h4>
          <div class="work_first_summary">
            <div class="work_first_summary_text">
              <p>
                コンセプトは、韻を踏む気持ちよさです。<br>
                このゲームは、リズムに合わせて単語を組み合わせるラップバトルゲームです。<br>
                攻撃ターンは、4つの選択肢からお題に合う1つの単語を選んで韻を踏む。<br>
                防御ターンは、相手から攻撃を回避するために指定されたボタンをタイミングよくタッチする。
              </p>
            </div>
          </div>
          <h4>面白いポイント</h4>
          <div class="work_first_amusing">
            <div class="work_first_amusing_text">
              <p>
                このゲームは、敵を倒してターンが進むごとに、テンポが変わりやすくなったり、裏拍になって<br>
                難易度が上がっていきます。<br>
                単純なリズムゲームにならないように、ライト・野次・歓声などラップの雰囲気も大事にしています。
            </div>
          </div>
        </div>
        <img src="image/InfiniteBreak.png">
      </div>
      <div class="work_second_box">
        <div class="work_second">
          <li> <%= resultMenu[2] %></li>
          <h4>ゲーム概要</h4>
          <div class="work_second_summary">
            <div class="work_second_summary_text">
              <p>
                コンセプトは、自分で敵を生成して倒すです。<br>
                このゲームは、自分が出した敵(うんこ)を倒すスコアアタックゲームです。<br>
                自機(ドラゴン)が敵(うんこ)を出して、自機(ドラゴン)が火を放って倒す。<br>
                何種類かステージがあり、ステージによってスコアに対する評価が異なります。<br>
      
              </p>
            </div>
          </div>
          <h4>面白いポイント</h4>
          <div class="work_second_amusing">
            <div class="work_second_amusing_text">
              <p>
                タイムアタック系のゲームに限らず、敵は自動で出てくるものですが、このゲームは敵(うんこ)<br>
                を自分で出す、そしてそれを倒すという変わったものです。<br>
                そして敵(うんこ)を出し倒すためには180度回転しなければならないので、時間を考えながら倒<br>
                していかないといけないのがポイントです。<br>
              </p>
            </div>
          </div>
        </div>
        <img src="image/WipeYourAssYourself.png">
      </div>
    <% }; %>
  </div>
</body>
</html>
